@media screen and (min-width: 760px) {


    a{
        text-decoration: none;
    }

    .small-logo{
        display: none;
    }

    .big-logo{
        height: 60%;
    }

    .md-flex{
        display: flex;
    }

    aside{
        width: 250px;
        position: relative;

    }

    .upper-list{
        display: flex;
        flex-direction: column;
    }


    .square{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: gray;
    }

    .md-screen-show{
        display: block;
    }


    .homepage-images{
        width: 5%;
    }

    .sidebar-element{
        height: calc(100vh - 90px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .upper-sidebar-element{
        width: 100%;
    }

    .sidebar-button{
        justify-content: flex-start;
        align-items: center;
    }

    .sidebar-images{
        width: 15%;
    }


    .playlist-element{
        padding-top: 20px;
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        gap: 10px;
    }

    .fa-plus{
        justify-content: center;
        align-items: center;

    }
    .main-section{
        flex-basis: 60%;
    }


    .card-container{
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    
    
    .card{
        min-height: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.2s;

        
    }


    .playlist-list{
        overflow: auto;
        max-height: 30%;
        display: block;
        padding: 30px;
        list-style-type: none;
    }

    .new-playlist{
        padding-bottom: 30px;
    }

    .lower-sidebar-container{
        position: relative;
        bottom: 0;
    }


    .separator{
        height: 1px;
        width: 80%;
        margin: 0 auto;
        background-color: gray;
        margin-bottom: 10px;
    }

    .lower-sidebar-element{
        justify-content: flex-start;
        align-items: center;
    }


    

    
 



    
}


@media screen and (min-width: 1024px) {
    


    .menu{
        flex-wrap: nowrap;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .card-container{
        flex-wrap: nowrap;
        flex-shrink: 1;
        flex-grow: 0;
        justify-content: flex-start;
    }
    
}