*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}



/*   Utilities   */



.flex{
    display: flex;
}


.upper-content{
    height: calc(100vh - 90px);
    
}



/*  header  */



header{
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.upgrade{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 2px;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: smaller;
    font-weight:600;
}




/*   sidebar   */



aside{
    width: 65px;
    flex-shrink: 0;
    background-color: black;
    height: calc(100vh - 90px);
}

.sidebar-element{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-sidebar-element{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lower-sidebar-element{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
}

.download-icon{
    width: 20px;
    height: 20px;
}



/*   Main section  */



.main-section{
    flex-basis: 75%;
    flex-shrink: 0;
    flex-grow: 1;
    background-color: rgb(42, 42, 75);
    height: calc(100vh - 90px);
    overflow: auto;
}


.container{
    width: 92%;
    margin: 0 auto;
    padding-top: 10px;
}

.menu{
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;

}

.main-menu-element{
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: xx-small;
    font-weight: bold;
    color:gray;
    flex-basis: calc(100% / 4);
}


h2{
    padding-top: 5px;
    padding-bottom: 20px;
    color: white;
}

p{
    font-size: small;
    font-weight: bold;
    color: gray;
}

.card-container{
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}


.card{
    flex-basis: calc((100% / 2 ) - 10px);
    min-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-images{
    max-width: 100%;
    height: auto;
}




.subtitle{
    color: white;
    padding-top: 15px;
    text-align: center;
    
}


.description{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}

.section-description{
    padding-bottom: 20px;
}


/*   Footer  */



footer{
    height: 90px;
    width: 100%;
    background-color: rgb(54, 52, 52);
    flex-basis: calc(100% / 3);
}


.song-section{
    flex-basis: calc(100% / 3);
    align-items: center;
    justify-content: space-around;
}

.footer-images{
    width: 50px;
    height: auto;
}


h6{
    color: white;
}


.footer-p{
    font-size: x-small;
}

.like-n-save-button{
    display: block;
    color: gray;
}


.player{
    flex-basis: calc(100% / 3);
    flex-direction: column;
    justify-content: center;
    gap: 15px
}


.player-buttons{
    color: white;
    justify-content: space-between;
    align-items: center;
}


.utilities{
    flex-basis: calc(100% / 3);

}


.songbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.songbar{
    height: 6px;
    width: 100px;
    background-color:rgb(231, 127, 127);
    border-radius: 4px;
}


.utilities{
    color: white;
    justify-content: space-evenly;
    align-items: center;
}







.volume-bar{
    height: 6px;
    min-width: 50px;
    background-color:rgb(231, 127, 127);
    border-radius: 4px;

}